/* index.css */

table {
	font-family: monospace;
}

body {
	padding-bottom: 2em;
}

main div {
	padding-bottom: 3em;
}

.result, .result td, .result th {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
}

div #listaInstrucoes > table{
	width: 100%;
}

/* #listaInstrucoes > table > tbody {
	background-color: rgb(223, 223, 223);
} */

th, td {
	padding: 2px;
	border-radius: 25px;
}

td > input {
	width: 95%;
	border-radius: 25px;
}

td > select {
	width: 95%;
	border-radius: 25px;
}

.form-control:focus {
    outline: 0 !important;
    border-color: initial;
    box-shadow: none;
}